<!doctype html>
<html>
    <head>
        <title>Provinsi {{ province.replace("_", " ") }}</title>
    </head>
   <body>
   
      <h1>{{ province.replace("_", " ") }}</h1>
    
      <h4>Ibu Kota</h4>
      <p>{{ capital }}</p>

      <h4>Curah Hujan</h4>
      <p>{{ curah }} (mm)</p>

      <h4>Luas Hutan</h4>
      <p>{{ luas_hutan }} (ha)</p>

      <h4>Kelembaban</h4>
      <p>{{ kelembaban }}</p>

      <h4>Kecepatan Angin</h4>
      <p>{{ kecepatan_angin }} (m/det)</p>

      <h4>Peta Lokasi</h4>
      <img src="{{ province_map }}" alt="Peta Lokasi" style="width:310px;height:119px;">
      
   </body>
</html>