<!doctype html>
<html>
    <head>
        <title>Provinsi {{ province.replace("_", " ") }}</title>
        <style>
            table {
              font-family: 'Times New Roman', Times, serif;
              border-collapse: collapse;
              width: 50%;
            }
            
            td, th {
              border: 1px solid #dddddd;
              text-align: left;
              padding: 8px;
            }
            
            tr:nth-child(even) {
              background-color: #dddddd;
            }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
            $(document).ready(function () {
                $("#tambah-deskripsi").click(function(){
                    var prov = $("h1").text();
                    $("#deskripsi-container").replaceWith(
                        '<div id="input-desc">' +
                            '<form action="{{ url_for("submit_description") }}" method="post">' +
                                '<input type="hidden" name="provinsi" value="' + prov + '"></input>' +
                                '<textarea id="province-desc" rows=5 cols=40 name="deskripsiInput"></textarea><br>' +
                                '<input type="submit" value="Submit">' +
                            '</form>' +
                        '</div>'
                    );
                });
            });
        </script>
    </head>
   <body>
   
      <h1>{{ province.replace("_", " ") }}</h1>

      <h4>Deskrispi</h4>
      <div id="deskripsi-container">
        {% if description == '' %}
            Provinsi belum memiliki deskripsi.<br>
            <button id="tambah-deskripsi">Tambah Deskripsi?</button>
        {% else %}
            <p>{{ description.split(':')[1] }}</p>
        {% endif %}
      </div>

      <h4>Ibu Kota</h4>
      <p><a href="{{ province }}/capital/{{ capital }}">{{ capital }}</a></p>

      <h4>Peta Lokasi</h4>
      <img src="{{ province_map }}" alt="Peta Lokasi" style="width:310px;height:119px;">

      <h4>Tabel Statistik</h4>
      <table>
          <tr>
              <th>Curah Hujan</th>
              <th>Luas Hutan</th>
              <th>Kelembaban</th>
              <th>Kecepatan Angin</th>
          </tr>
          <tr>
              <td>{{ data[1].split(':')[1] }} (mm)</td>
              <td>{{ data[2].split(':')[1] }} (ha)</td>
              <td>{{ data[3].split(':')[1] }}</td>
              <td>{{ data[4].split(':')[1] }} (m/det)</td>
          </tr>
      </table>
      
   </body>
</html>