<!doctype html>
<html>
    <head>
        <title>Provinsi {{ province.replace("_", " ") }}</title>
        <style>
            table {
              font-family: 'Times New Roman', Times, serif;
              border-collapse: collapse;
              width: 50%;
            }
            
            td, th {
              border: 1px solid #dddddd;
              text-align: left;
              padding: 8px;
            }
            
            tr:nth-child(even) {
              background-color: #dddddd;
            }
        </style>
    </head>
   <body>
   
      <h1>{{ province.replace("_", " ") }}</h1>
    
      <h4>Ibu Kota</h4>
      <p>{{ capital }}</p>

      <h4>Peta Lokasi</h4>
      <img src="{{ province_map }}" alt="Peta Lokasi" style="width:310px;height:119px;">

      <h4>Tabel Statistik</h4>
      <table>
          <tr>
              <th>Curah Hujan</th>
              <th>Luas Hutan</th>
              <th>Kelembaban</th>
              <th>Kecepatan Angin</th>
          </tr>
          <tr>
              <td>{{ data[1].split(':')[1] }} (mm)</td>
              <td>{{ data[2].split(':')[1] }} (ha)</td>
              <td>{{ data[3].split(':')[1] }}</td>
              <td>{{ data[4].split(':')[1] }} (m/det)</td>
          </tr>
      </table>
      
   </body>
</html>