<!doctype html>
<html>
   <head>
         <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
         <style>
            .content {
               text-align: center;
               max-width: 500px;
               margin: auto;
               background: white;
               padding: 10px;
            }
         </style>
   </head>
   <body>
      <div class="content">

         <h2>Provinsi - provinsi di Indonesia</h2>
         <table class="table">
               {% for val in data["bindings"] %}
                  <tr>
                     <td><a href='/provinces/?p={{ val["itemLabel"]["value"].replace(" ", "_") }}'>{{ val["itemLabel"]["value"] }}</a></td>
                  </tr>
               {% endfor %}
         </table>

      </div>
   </body>
</html>